@import "./Variables/Variables.scss";

.navbar {
  @include displayStyle(center,none);
  width: 100%;
  height: 65px;
  background-color: black;

  a {
    text-decoration: none;
    margin: 3%;
    color: $ColorBlanco;
    font-family: $font;
  }
}
